@import "../../styles/colors"; 
@import "../../styles/button";
@import '../../styles/closeBtn';


.container{
    position: relative;
    width: 95%;
    height: auto;
    margin: 0 auto;
    border: 1px solid $gray;
    border-radius: 15px;
    overflow:visible;
    padding: 10px 10px 10px 10px;
    background-color: white;
    min-width: 300px;
    max-width: 600px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .image_video_Container{
        position: relative;
        max-width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 7px 0; 
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 12px 28px 0 $gray,
        0 2px 4px 0 $gray,
        inset 0 0 0 1px $gray;
        img{
            position: relative;
            max-width: 100%;
            height: auto;
            
        }
        .closeBtn{
            @include closebtnFn();
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 65616;
            cursor: pointer;
        }
        
    }
}
.topic{
    position: relative;
    margin: 10px 0;

    h1{
        font-size: 1.7rem;
    }
    span{
        color:$primary
    }
}
.userTopicContainer{
    position: relative;
    width: 100%;
    max-width: 700px;
    min-width: 300px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 2px;
    padding-top: 5px;
    .userImage{
        position: relative;
        cursor: pointer;
        height: 50px;
        width: 50px;
        border: 1px solid $primary;
        border-radius: 50%;
        margin-left: 10px;
        margin-top: 5px;
        overflow: hidden;
        align-self: flex-start;

        img{
            position: absolute;
            top: 0;
            max-width: 100%;
            height: auto;
            min-height: 100%;
        }
    }
    .postTopic{
        position: relative;
        width: calc(95% - 60px);
        min-height: 50px;
        height: 50px;
        outline: none;
        border:1px solid $gray;
        border-radius: 5px;
        padding: 5px;
        margin-left: 10px;
        height: auto;
        display: flex;
        .textAreaContainer{
            position: relative;
            height: auto;
            width: 75%;
            display: flex;
            flex-direction: column;
            .textArea{
                overflow: hidden;
                margin-left: 10px;
                user-select: text; 
                //white-space: pre-wrap; 
                position: relative;
                height: auto;
                width: 100%;
                height: auto;
                outline: none;
                font-size: 1.4rem;
                height: 18px;
                line-height: 1.1667;
                font-weight: 600 !important;
                color:black;
                word-break: break-all;
                outline: none;
                border: 0;
                resize: none;
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
        }
        }
        .countLettres{
            position: relative;
            width: 100%;
            bottom: 0;
            height: 30px;
            display: flex;
            align-items: center;
            .postText{
                transform: translateY(-70%);
                top: 50%;
                color: $primary;
                font-weight: bold;
                position: absolute;
                display: inline-block;
                right: 10px;
                bottom: 0;
                font-weight: 600;
                font-size: 14px;
                font-weight: normal;
                cursor: pointer;
                svg{
                    position: relative;
                    height: 10px;
                    width: 10px;
                }
            }
            .countLettresCss{
                transform: translateY(-70%);
                top: 50%;
                position: absolute;
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 3px;
                font-size: 1.4rem;
                font-weight: normal;
                color: gray;
                left: 10px;
                bottom: 0;
                }
        }
        .maskEmojiAndUploadImageContainer{
            position: relative;
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 30px;
            align-self: flex-end;
            .emojiPickerContainer{
                position: relative;
                z-index: 5166;
                right: 200px;    

            }
            .openOrCloseEmojiPicker{
                position: relative;
                height: 20px;
                width: 20px;
                cursor: pointer;
            .emojiLogo{
                position: relative;
                height: 20px;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                svg{
                    position: relative;
                    height: 20px;
                    width: 20px;
                }
            }
        }
            .mask{
                position: relative;
                height: 20px;
                width: 20px;
                cursor: pointer;
                svg{
                    position: relative;
                    height: 20px;
                    width: 20px;
                }
            }
            .uploadImage{
                position: relative;
                height: 20px;
                width: 20px;
                cursor: pointer;

                img{
                    position: relative;
                    height: 20px;
                    width: 20px;
                }
                &:hover{
                    &::after{
                        position: absolute;
                        box-shadow: 0px 1px 2px #cfd1d3;
                        background-color: white;
                        content: attr(hovertextinputfile);
                        font-family: sans-serif;
                        height: auto;
                        width: auto;
                        font-size: 1.2rem;
                        font-weight: 600;
                        bottom:120%;
                        left: 50%;
                        transform: translateX(-50%);
                        padding: 7px;
                        white-space: nowrap;
                        padding: 10px;
                        border-radius: 5px;
            
                    }
                }
                position: relative;
                input[type=file], /* FF, IE7+, chrome (except button) */
                input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
                    cursor: pointer; 
                    opacity: 0;
                    z-index: 16516161556;
        
                }
                cursor: pointer;
                input{
                    z-index: 156156156;
                    cursor: pointer;
                    opacity: 0;
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: 0;
                    width: 100%;
                    opacity: 1;
                }
            }
        }

}

.mask{
    position: relative;
    &:hover{
        &::after{
            white-space: nowrap;
            position: absolute;
            box-shadow: 0px 1px 2px #cfd1d3;
            background-color: white;
            content: attr(postanonymously);
            font-family: sans-serif;
            height: auto;
            width: auto;
            font-size: 1.2rem;
            font-weight: 600;
            bottom:120%;
            left: 50%;
            transform: translateX(-50%);
            padding: 7px;
            padding: 10px;
            border-radius: 5px;

        }
    }
}
}
@media (orientation: portrait) , (max-height: 500px){
    .container{
        width: 100%;
        padding: 5px;
        border-radius: 0px !important;

    }
    .uploadImage{

        &:hover{
            &::after{
                content: "";

            }
        }
    }
    .mask{
        position: relative;
        &:hover{
            &::after{
                content: "";
            }
        }
    }
    .userTopicContainer{
        padding: 0;
        .userImage{
            height: 40px !important;
            width: 40px !important;
        }
        .postTopic{
            margin-left: 0px;
            width: calc(95% - 40px) !important;
            flex-direction: column;
            border:none;
            .maskEmojiAndUploadImageContainer{
                width: 100%;
                justify-content: flex-end;
                gap:25px
            }
            .textAreaContainer{
                border: 1px solid #eaeaea;
                border-radius: 5px;
                width: 100%;

                .textArea{
                    width: 95%;
                }
            }
        }
    }
}