@import "../../styles/colors"; 
@import "../../styles/button";
@import '../../styles/closeBtn';


.container{
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
    border: 1px solid $gray;
    border-radius: 15px;
    overflow:visible;
    padding: 15px 15px 0px 15px;
    background-color: white;
    min-width: 300px;
    max-width: 750px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 1px 2px #cfd1d3;
}
.topic{
    position: relative;
    margin: 10px 0;
    &::after{
        content: "";
        position: absolute;
        height: 1.8px;
        width: 90%;
        background-color: $gray2;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
    h1{
        font-size: 1.7rem;
    }
    span{
        color:$primary
    }
}
.userTopicContainer{
    position: relative;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .userImage{
        cursor: pointer;
        height: 60px;
        width: 60px;
        border: 1px solid $primary;
        border-radius: 50%;
    }
    .postTopic{
        position: relative;
        width: calc(95% - 60px);
        min-height: 60px;
        outline: none;
        background-color: $gray2;
        border-radius: 15px;
        padding: 5px;
        margin-left: 10px;

        .input{
            margin-left: 10px;
            user-select: text; 
            white-space: pre-wrap; 
            overflow-wrap: break-word;
            position: relative;
            height: 90%;
            width: 95%;
            outline: none;
            font-size: 1.4rem;
            line-height: 1.1667;
            font-weight: 600 !important;
            color:black;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
            img{
                height: 15px;
                width: 15px;
                margin: 0 1.5px;
                
            }
            &:empty{
                &::after{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    content: attr(datetextplaceholder);
                    color: gray;
                  }
            }
        }
 
    }
}
.closeBtn{
    @include closebtnFn();
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 65616;
    cursor: pointer;
}
.image_video_Container{
    position: relative;
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px 0; 
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 12px 28px 0 $gray,
    0 2px 4px 0 $gray,
    inset 0 0 0 1px $gray;
    img{
        position: relative;
        max-width: 100%;
        height: auto;
        

    }
}
.mask{
    position: relative;
    &:hover{
        &::after{
            white-space: nowrap;

            position: absolute;
            box-shadow: 0px 1px 2px #cfd1d3;
            background-color: white;
            content: attr(postanonymously);
            font-family: sans-serif;
            height: auto;
            width: auto;
            font-size: 1.2rem;
            font-weight: 600;
            bottom:120%;
            left: 50%;
            transform: translateX(-50%);
            padding: 7px;

        }
    }
}
.btnContainer{
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    .uploadImage{
        &:hover{
            &::after{
                position: absolute;
                box-shadow: 0px 1px 2px #cfd1d3;
                background-color: white;
                content: attr(hovertextinputfile);
                white-space: nowrap;

                font-family: sans-serif;
                height: auto;
                width: auto;
                font-size: 1.2rem;
                font-weight: 600;
                bottom:120%;
                left: 50%;
                transform: translateX(-50%);
                padding: 7px;
    
            }
        }
        position: relative;
        input[type=file], /* FF, IE7+, chrome (except button) */
        input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
            cursor: pointer; 
            opacity: 0;

        }
        cursor: pointer;
        input{
            cursor: pointer;
            opacity: 0;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 1;
            img{
                margin: 0 1.5px;

            }
        }
    }
    .container_uploadImage_pickEmoji_mask{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        cursor: pointer;
        svg{
            height: 30px;
            width: 30px;
            cursor: pointer;
        }
    }
    button{
        @include btn(white,$primary,$hover);
        margin: 0 auto;
        border-radius: 5px;
        height: 40px;
        width: 65%;
    }
}
.EmojiLogo{
    position: relative;
    height: 30px;
    width: 30px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 15;
   
    img{
      height: 30px;
      width: 30px;
    }
  }
  @media (orientation: portrait) , (max-height: 500px){
 
      .container{
          width: 95%;
      }
      .topic{
          h1{
              font-size: 1.3rem;
          }
      }
      .userTopicContainer{
            margin-left: 0;
          padding: 10px 0;
          justify-content: initial;
          display: flex;
          align-items: center;
          justify-content: center;
          .userImage{

            display: none;
          }
          .postTopic{
              margin-left: 0px;
            min-height: 45px !important;
            width: 90%;
         
          }
      }
      .btnContainer{
        .container_uploadImage_pickEmoji_mask{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 35%;
            svg{
                height: 30px;
                width: 30px;
                cursor: pointer;
            }
            .EmojiLogo{
                height: 25px;
                width: 25px;
            }
        }
          button{
              width: 60%;
          }

    
      }
  }
  @media (max-width: 330px) {
      .postTopic{
          margin-left: -10px !important;
      }
    .btnContainer{
        .container_uploadImage_pickEmoji_mask{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 45%;
            svg{
                height: 30px;
                width: 30px;
                cursor: pointer;
            }
            .EmojiLogo{
                height: 25px;
                width: 25px;
            }
        }
          button{
              width: 50%;
          }

    
      }
}