@import "../../styles/colors"; 

.container    
{
    position: relative;
    margin: 15px 0px;
    border: 1px solid $gray2;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    
    height: auto;
    margin: 15px auto;
    background-color: white;
    border-radius: 5px;
    
    span{
        margin-left: 5px;
        font-size: 2rem;
        color: black;
        cursor: pointer;
    }
}
.date{
    font-size: 1.3rem;
    color: rgb(163, 163, 163);
    font-weight: 400;
}
.userImageAndNameAndTimeAndSettings{
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;


    .userImage{
        position: relative;
        cursor: pointer;
        height: 60px;
        width: 60px;
        border: 1px solid $primary;
        border-radius: 50%;
        overflow: hidden;
        img{
            max-width: 100%;
            height: auto;
            min-height: 100%;
            position: absolute;
            top: 0;
        }
    }
    .Name{
        position: relative;
        margin-left: 15px;
        .nameh3{
            font-size: 1.4rem;
        }
    }

        .settings{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20px;
            width: 20px;
            right: 10px;

            &:after{
                cursor: pointer;
                content: "...";
                position: absolute;
                height: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                top: 3px;
            }

        
    
        }
}
.text{
    font-size: 2rem;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    word-break: break-all !important;

}


.imageContainer{
    position: relative;
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px 0;
    border-radius: 5px;
    overflow: hidden;
    img{
        position: relative;
        max-width: 100%;
        height: auto;
  
    }
}

.likesAndComments{
    position: relative;
    width: 100% !important;
    margin-top: 5px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        margin: 0 auto;
        height: 1px;
        background-color: $gray;
        bottom: 0;
    }
    .likes{

        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 30px;

        .likesNumber{
            position: relative;
            font-size: 1.5rem;
            margin-left: 15px;

        }
        &:after{
            margin-left: 15px;
            font-size: 1.5rem;
            content: attr(likesnumber);
        }
    }
    .Comments{
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        &:after{
            font-size: 1.5rem;
            margin-left: 15px;

            content: attr(commentsnumbers);
        }
    }
    svg{
        height: 20px;
        width: 20px;
    }
}
.commentsContainer{
    margin-top: 10px;
    height: auto;
    transition: 0.5s;
    position: relative;
    margin: 0 auto;
    width: 90%;
}
.loadMoreComments{
    width: 100%;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    cursor: pointer;
    p{
        font-size: 1.4rem;
        color: $primary;
    }
}

.userAddComments{
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    &::after{
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 2px;
        border-bottom: 1px solid #eaeaea;

    }
    .userImageInComments{
        position: relative;
        cursor: pointer;
        height: 50px;
        width: 50px;
        max-width: 50px;
        max-height: 50px;
        min-height: 50px;
        min-width: 50px;
        border: 1px solid $primary;
        border-radius: 50%;
        overflow: hidden;
        align-self: flex-start;
        img{
            position: absolute;
            top: 0;
            max-width: 100%;
            height: auto;
            min-height: 100%;
        }
    }
    .textAreaContainer{
        position: relative;
        height: auto;
        width: 75%;
        display: flex;
        flex-direction: column;
        padding: 5px;
        .countLettres{
            position: relative;
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;

            .countLettresCss{
                position: absolute;
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 3px;
                font-size: 1.0rem;
                font-weight: normal;
                color: gray;
                left: 10px;
                bottom: 0;
                }
        }
        .textArea{
            overflow: hidden;
            margin-left: 10px;
            user-select: text; 
            //white-space: pre-wrap; 
            position: relative;
            height: auto;
            width: 100%;
            height: auto;
            outline: none;
            font-size: 1.4rem;
            height: 18px;
            line-height: 1.1667;
            font-weight: 600 !important;
            color:black;
            word-break: break-all;
            outline: none;
            border: 0;
            resize: none;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
    }
    }
    .emojiAndMaskAndPost{
        position: relative;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        align-self: flex-end;

        .postAndCounterContainer{
            display: flex;
            flex-direction: column;
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .postText{
                color: $primary;
                font-weight: bold;
                position: relative;
                display: inline-block;
                font-weight: 600;
                font-size: 14px;
                font-weight: normal;
                cursor: pointer;
                width: 100%;
            }

        }
        .emojiPickerContainer{
            position: relative;
            z-index: 5166;    
            right: 200px;    
        }
        .openOrCloseEmojiPicker{
            position: relative;
            height: 20px;
            width: 20px;
            cursor: pointer;
        .emojiLogo{
            position: relative;
            height: 20px;
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                position: relative;
                height: 20px;
                width: 20px;
            }
        }
    }
        .mask{
            position: relative;
            height: 20px;
            width: 20px;
            cursor: pointer;
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                position: relative;
                height: 20px;
                width: 20px;
            }
        }
    }
}
.btns{
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    .post{
        margin: 0px 10px;
        margin-bottom: 3px !important;
        position: relative;

        cursor: pointer;

        p{
            font-size: 1.3rem !important;
            font-weight: bold;
            padding: 3px;
            position: relative;
            &::after{
                position: absolute;
                content: "";
                height: calc(100% );
                width: calc(100% );
                border-radius: 2px;
                border:1px solid $primary;
                left: 0;
                top: 0;

            }
        }
    }
    .EmojiLogo{
        height: 25px;
        width: 25px;
        right: 10px;
        position: relative;
        bottom: 0;
        right: 0;
        img{
            cursor: pointer;
            height: 20px;
            width: 20px;
        }
    }
}

.mask{
    cursor: pointer;
    position: relative;
    height: 20px;
    width: 20px;
    margin: 0 10px;

}

@media (orientation: portrait) , (max-height: 500px){
    .container{
        width: 100%;
        border-radius: 0px;
    }
    .text{
        font-size: 1.4rem;
    }
    .userImage{
        height: 45px !important;
        width: 45px !important;
    }
    .userImageInComments{
        display: none;
    }
    .textAreaContainer{
        width: 60% !important;
    }
    .emojiAndMaskAndPost{
        width: 37% !important;
    }
}