@import "../../styles/colors"; 

.container{
    position: relative;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    padding: 30px 0;

    &::-webkit-scrollbar {
        width: 10px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888; 
      }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }
      .cards{
          width: 80%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 auto;
          margin-top: 30px;
          z-index: 12516;

      }
      .card{
        position: relative;
        height: 200px;
        min-width: 200px;
        width: 30%;
        background-color: white;
        box-shadow:
        0 10px 16px 0 rgba(0,0,0,0.2);
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
          font-size: 2rem;
          color: #32325d;
        }
      }


 
}
.searchForUser{
  width: 100%;
  position: relative;
  margin: 10px auto;
  z-index: 15615;
  .inputSearch{
    label{
      position: absolute;
      right: 0;
    }
    input{
      margin: 40px 0;
      display: block;
      width: 70%;
      margin-left:15%;
      height: calc(1.5em + 1.25rem + 2px);
      padding:  22px 15px;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5;
      color: #8898aa;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #cad1d7;
      border-radius: 0.375rem;
      box-shadow: none;
      transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      outline: none;
      font-size: 1.3rem;
    }
  }
 
}

.tableContainer{
  position: relative;
  width: 80%;
  height: auto;
  margin:  0px auto;
  z-index: 1565;
  th{
    font-size: 1.3rem;
    text-align: center;

  }
  td{
    font-size: 1.2rem;
    text-align: center;
  }
}
.image{
  position: relative;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 1px solid $primary;
  border-radius: 50%;
  left:50%;
  transform: translateX(-50%);
}
.delete{
  background-color: rgb(226, 0, 0);
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  padding: 5px;
  width: 60%;
  left:50%;
  transform: translateX(35%);
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    background-color: rgb(255, 0, 0);

  }
}