@import "../../styles/colors"; 
@import "../../styles/closeBtn";
.container{
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 15615665;
    background-color: white;
    border-radius: 15px;
}
.closeLangChange{
    position: absolute;
    bottom: 100%;
    left: 100%;
    background-color: red;
    @include closebtnFn();
}
.svgContainer{
    svg{
        height: 50px;
        width: 100px;
        cursor: pointer;
    }
}
.changeLang{
    background-color: white;
    box-shadow: 0px 1px 2px #cfd1d3;
    padding: 10px;
    border-radius: 5px;
    h2{
        font-size: 1.3rem;
        transition: 0.5s;
        cursor: pointer;
        &:hover{
            color: $primary
        }
    }

}
@media(orientation: portrait)
{
    .container{
        position: fixed;
        left: 5px;
        bottom: 5px;
        z-index: 156156;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 1px 2px #cfd1d3;
    }
    .svgContainer{
        svg{
            height: 25px;
            width: 50px;
            cursor: pointer;
        }
    }
    .changeLang{
        background-color: white;
        box-shadow: 0px 1px 2px #cfd1d3;
        padding: 10px;
        border-radius: 5px;
        h2{
            font-size: 1.3rem;
            transition: 0.5s;
            cursor: pointer;
            &:hover{
                color: $primary
            }
        }
    
    } 
}