@import "../../styles/colors"; 

.Container{
    position: relative;
    min-width: 100%;
    height: auto;

}
.userImage{
    position: relative;
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid $primary;
    border-radius: 50%;
}             
.delete{
    position: relative;
    cursor: pointer;
    p{
        display: inline-block;
        padding: 4px;
        border-radius: 5px;
        font-size: 2rem;
        background-color: #f50018;
        display: flex;

        align-items: center;
        justify-content: center;

        color: white;
        &:hover{
            background-color: #dc3545;

        }
    }
}
