@import "../../styles/colors"; 
@import "../../styles/input";
@import "../../styles/button";
@import "../../styles/closeBtn";

.contrainer{
 position: fixed;
 height: 100%;
 width: 100%;
 bottom: 0;
 z-index: 156651;
 background-color: rgba(0,0,0,0.8);
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 15616516;

}

.message{
    font-size: 2rem;
    width: 90%;
    text-align: center;
}
.clickHere{
    color: $primary;
    cursor: pointer;
}


.formContainer{
    position: relative;
    height: 700px;
    width: 800px;
    max-height: 700px;
    max-width: 800px;
    background-color: white;
    box-shadow: 0px 11px 15px -7px rgba(0 ,0 ,0,0.2), 0px 24px 38px 3px rgba(0 ,0 ,0 ,0.14), 0px 9px 46px 8px rgba(0 ,0, 0 , 0.12);

    border-radius: 15px;
    display: flex;

}
.formsContainer{
    width: 60%;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;

    .singIn{
        position: relative;
        min-height: 100%;
        min-width: 100%;
        transition: 0.8s;
        background-color: white;
        border-top-left-radius: 15px;
        border-Bottom-left-radius: 15px;
        z-index: 1;

    }
    .singUp{

        position: relative;
        min-height: 100%;
        min-width: 100%;
        transition: 0.8s;
        background-color: white;
        border-top-left-radius: 15px;
        border-Bottom-left-radius: 15px;
        z-index: 2;

        .Age{
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: space-around;
            p{
                font-size: 2rem;
            }
        }

    }
}

.description{
    position: relative;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    &::after{
        content: "";
        z-index: 15;
        position: absolute;
        height: 90%;
        width: 3px;
        background-color: $primary;
        left:-10px;
        top: 50%;
        transform: translateY(-50%);
    }
    h1{
        font-size: 4rem;
        letter-spacing: 1.5px;
        color: $primary;
       /* -webkit-text-fill-color: white; 
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $primary;*/
        display: inline-block;
    }
    p{
        font-size: 2rem;
        letter-spacing: 1.5px;
        text-align: center;
        width: 95%;
    }
}


.form{
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 15px;
    margin-bottom: 15px;


    .inputContainer{
        margin-top: 13px;
        margin-bottom: 13px;
        position: relative;
        width: 100%;
       // max-height: 46px
    
    }
    .input{
 
        @include inputCss();
        &:focus{
            border: 2px solid #1871ca !important;
            transition: 0.1s;
            //filter: drop-shadow(0px 0px 1px #FF3367);
        }
        &:focus + label{
            top: -60%;
            transition: 0.5s;
            //color: #1871ca;

        }
        &:valid + label{
            top: -60%;
            transition: 0.5s;
           // color: #1871ca;
        }
    }
    label{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        pointer-events: none;
        transition: 0.5s;
   
    }
    .labelspan{
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        font-size: 1.8rem;
        background-color: white;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0;
    }
    .btn{
        @include btn(white,$primary,$hover);
        transition: 0.5s;
        width: 250px;
        padding: 13px;
        background-color: white;
        color: $primary;
;
        border : 1px solid $primary;
        font-size: 2rem;
        margin-top: 20px;
        margin-bottom: 20px;
        &:hover{
            color: white;

        }
    }
}
.ContainerVerification{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 1561615;
    gap: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .discrption{
        width: 100%;
        p{
            text-align: center;
            width: 100%;
            font-weight: 600;
            font-size: clamp(1.3rem,5vw,1.7rem);
        }
    
    }
    form{
        top: initial !important;
        left: initial !important;
        transform: rotate(0) !important;
    }
    .VerificationHeader{
        position: relative;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
  
        h1{
            color: $primary;
            font-size: 3rem;
        }
    }
}

.selectContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    label{
        position: relative;
        font-size: 2rem;
        left: initial;
        top: initial;
        height: auto !important;
        width: auto ;
    }
    label + div {margin: 0;}

}
.input {
    transition: background-color 5000s ease-in-out 0s;
}
.ConfirmPassword{
    background-color: white;
}
.errorMessage{
    height: auto;
    display: flex;
    position: relative;
    margin-top: 0 !important;
    width: 100%;
    margin-bottom: 5px;
    p{
        font-size: 12px;
        line-height: 15px;
        font-family: "ProximaNova-regular";
        color: #ff4c3a;
        margin-left: 10px;
    }
}

@media (orientation: portrait), (max-height: 500px) {
    .description{
        display: none;
    }
    .formContainer{
        width: 95%;
        max-width: 400px;
        overflow: auto;
        height: 95%;
        
    }
    .formsContainer{
        width: 100%;
        height: auto;
        overflow-Y: auto;
        min-height: 600px;
   
 

        .singIn{
            height: auto;
        }
        .singUp{
            height: auto;

        }
        .singUp{
  
            .Age{
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 5px;
                .selectContainer{
                    width: 100%;
                    align-items: flex-start !important;
                    justify-content: flex-start !important;
                    label{
                        width: 70px !important;
                        align-items: left;
                    }
                }
                p{
                    font-size: 2rem;
                }
            }
    
        }
    }



  
}
.telOrEmail{

    position: relative;
    width: 100%;
    height: auto;
    height: 46px;

    .tel{
        position: absolute;
        height: 100%;
        width: 100%;
        position: relative;

    }
    .email{
        position: absolute;
        height: 100%;
        width: 100%;


    }

}
.closebtn{
    @include closebtnFn();
    z-index: 15665116456;
    right: -50px;
    top: -50px;
    box-shadow: 0px 11px 15px -7px rgba(0 ,0 ,0,0.2), 0px 24px 38px 3px rgba(0 ,0 ,0 ,0.14), 0px 9px 46px 8px rgba(0 ,0, 0 , 0.12);
}
@media (orientation: portrait), (max-height: 500px) {
    .closebtn{
        right: 10px;
         top: 10px;
    }

}
.labelEmailOrPassword{
    position: absolute;
    bottom: 110%;
    right: 0;
    cursor: pointer;
    p{
        color: $primary;
        font-size: 1.5rem;

    }
}
