@import "../../styles/colors"; 
@import "../../styles/input";
@import "../../styles/button";

.contrainer{
 position: fixed;
 height: 100%;
 width: 100%;
 bottom: 0;
 z-index: 156651;
 background-color: rgba(0,0,0,0.8);
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 15616516;

}
.message{
    font-size: 2rem;
    width: 90%;
    text-align: center;
}
.clickHere{
    color: $primary;
    cursor: pointer;
}
.formContainer{
    position: relative;
    height: 600px;
    width: 700px;
    background-color: white;
    box-shadow:  
    0 2.8px 2.2px rgba(255, 255, 255, 0.034),
    0 6.7px 5.3px rgba(255, 255, 255, 0.048),
    0 12.5px 10px rgba(255, 255, 255, 0.06),
    0 22.3px 17.9px rgba(255, 255, 255, 0.072),
    0 41.8px 33.4px rgba(255, 255, 255, 0.086),
    0 100px 80px rgba(255, 255, 255, 0.12);
    border-radius: 15px;
    display: flex;
}
.formsContainer{
    width: 60%;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    .singIn{
        position: relative;
        min-height: 100%;
        min-width: 100%;
        transition: 0.8s;
        background-color: white;
        border-top-left-radius: 15px;
        border-Bottom-left-radius: 15px;
        z-index: 1;

    }
    .singUp{

        position: relative;
        min-height: 100%;
        min-width: 100%;
        transition: 0.8s;
        background-color: white;
        border-top-left-radius: 15px;
        border-Bottom-left-radius: 15px;
        z-index: 2;

        .Age{
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: space-around;
            p{
                font-size: 2rem;
            }
        }

    }
}

.description{
    position: relative;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    &::after{
        content: "";
        z-index: 15;
        position: absolute;
        height: 90%;
        width: 3px;
        background-color: $primary;
        left:-10px;
        top: 50%;
        transform: translateY(-50%);
    }
    h1{
        margin-top: 170px;
        font-size: 4rem;
        letter-spacing: 1.5px;
        color: $primary;
       /* -webkit-text-fill-color: white; 
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $primary;*/
        display: inline-block;
    }
    p{
        font-size: 2rem;
        letter-spacing: 1.5px;
        text-align: center;
        width: 95%;
    }
}


.form{
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    .inputContainer{
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        width: 100%;
    
    }
    .input{
 
        @include inputCss();
        &:focus{
            border: 2px solid #1871ca !important;
            transition: 0.1s;
            //filter: drop-shadow(0px 0px 1px #FF3367);
        }
        &:focus + label{
            top: -60%;
            transition: 0.5s;
            //color: #1871ca;

        }
        &:valid + label{
            top: -60%;
            transition: 0.5s;
           // color: #1871ca;
        }
    }
    label{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        pointer-events: none;
        transition: 0.5s;
   
    }
    .labelspan{
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        font-size: 1.8rem;
        background-color: white;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0;
    }
    button{
        @include btn(white,$primary,$hover);
        transition: 0.5s;
        width: 250px;
        padding: 13px;
        background-color: white;
        color: $primary;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $primary;
        border : 1px solid $primary;
        font-size: 2rem;
        margin-top: 20px;
        margin-bottom: 20px;
        &:hover{
            -webkit-text-stroke-color: white;

        }
    }
}
.selectContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    label{
        position: relative;
        font-size: 2rem;
        left: initial;
        top: initial;
        height: auto !important;
        width: auto ;
    }
    label + div {margin: 0;}

}
.input {
    transition: background-color 5000s ease-in-out 0s;
}
.ConfirmPassword{
    background-color: white;
}
.errorMessage{
    height: auto;
    display: flex;
    position: relative;
    margin-top: 0 !important;
    width: 80%;
    margin-bottom: 10px;
    p{
        font-size: 1.3rem;
        color: $primary;
    }
}
@media only screen and (max-height: 550px) {
    .form{
        transform: translate(-0%,-0%);
        top: 10px;
        margin: 0 auto;
        left: initial;

    }
}
@media (orientation: portrait) {

    .description{
        display: none;
    }
    .formContainer{
        position: relative;
        height: 95%;
        width: 95%;
        min-width: 300px;

    }
    .formsContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow: hidden;
        border-radius: 15px;
  
        .singIn{
            position: relative;
            min-height: 100%;
            min-width: 100%;
            transition: 0.8s;
            background-color: white;
            border-top-left-radius: 15px;
            border-Bottom-left-radius: 15px;
            z-index: 1;
            overflow: scroll;

        }
        .singUp{
            position: relative;
            height: 100%;
            min-width: 100%;
            transition: 0.8s;
            background-color: white;
            border-top-left-radius: 15px;
            border-Bottom-left-radius: 15px;
            overflow: scroll;

            z-index: 2;
            .Age{
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 5px;
                .selectContainer{
                    width: 100%;
                    align-items: flex-start !important;
                    justify-content: flex-start !important;
                    label{
                        width: 70px !important;
                        align-items: left;
                    }
                }
                p{
                    font-size: 2rem;
                }
            }
    
        }
    }
    

  }
 