@import "../../../styles/button"; 
@import "../../../styles/colors";
.container{
    position: relative;
    height: 100%;
    width: 100%;

}
.header{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    h1{
        position: absolute;
        font-size: 2.5rem;
        margin-left: 30px;
    }
}
.radioContainer{
    margin-top: 0;
    position: relative;
    width: 100%;
    padding: 15px;
    height: auto;
    flex-direction: column;
    box-sizing: border-box;
    gap: 20px;
    border-bottom: 1px solid $primary;
    .radioInputContainer{
        display: flex;
        align-items: center;
        justify-content: flex-start;
            h2{
                margin-left: 20px;
                font-size: 1.5rem;
            }
            .private{
                margin-left: 20px;
                height: 15px;
                width: 15px;
            }
            .public{
                margin-left: 27px;
                height: 15px;
                width: 15px;
            }
      
    }
    .text{
        h1{
            text-align: center;
            color: rgba(22, 24, 35, 0.5);
            font-size: 1.3rem;
        }
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 2rem;
        margin: 20px 0;
    }
}
@media (orientation: portrait) , (max-height: 500px){
    .container{
        margin-top: 20px;
    }
    .radioContainer{
        border-bottom: 0px solid $primary;
    }
}