@import "../../styles/colors"; 

    .container{
        max-height: 400px;
        height: auto;
        width: 95%;
        background-color: white;
        position: relative;
        padding-bottom: 10px;
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
        border-radius: 5px;
        overflow: hidden;
        z-index: 9999;
        .randomUsersContainer{
            position: relative;
            max-height: 310px;
            overflow-y: scroll;
            overflow-x: hidden;
            scrollbar-width: thin;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &::-webkit-scrollbar {
                width:  0px;
                height: auto;
            }
          
            &::-webkit-scrollbar-thumb {
                background: #3333;
                width: 3px;
            }
          
            &::-webkit-scrollbar-track {
                background: $gray2;
            }
        
        }
}
.galleryHeader{

    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    position: relative;
    &::after{
        width: 90%;
        background-color: $primary;
        height: 2px;
        left: 0;
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
    p{
        font-size: 2.0rem;
        font-weight: bold;
        margin-left: 20px;
        position: relative;

    }
margin-bottom: 10px;
}

.imagesContainer{
    position: relative;
    max-height: 310px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

 
    &::-webkit-scrollbar {
        width:  0px;
        height: auto;
    }
  
    &::-webkit-scrollbar-thumb {
        background: #3333;
        width: 3px;
    }
  
    &::-webkit-scrollbar-track {
        background: $gray2;
    }
    .image{
        position: relative;
        display: inline-block;
        width: 100px;
        height: 100px;
        margin: 10px;
        overflow: hidden;
        box-shadow: 0 0 0 1px #e0e0e0, 0 3px 0 0 #e0e0e0, 0 1px 3px 0 #e0e0e0;
        border-radius: 10%;
        cursor: pointer;
        img{
            position: absolute;
            top: 0;
            max-width: 100%;
            height: auto;
            min-height: 100%;
        }
    }
}
