@import "../../styles/colors"; 
@import "../../styles/closeBtn";
.container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1561565565;
    display: flex;
    background-color: rgba(0,0,0,0.5);

    .imageContainer{
        position: relative;
        width: calc(100% - 400px);
        height: 100%;
        top: 0;
        background-color: rgba(0,0,0,0.5);
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            position: relative;
            height: auto;
            max-width: 100%;
            max-height: 80%;
        }
    }
    .commentsContainer{
        display: inline-block;
        position: relative;
        width: 400px;
        height: 100vh;
        background-color: white;
    }
}

.closeBtn{
    @include closebtnFn();
    position: absolute;
    right: 20px;
    top: 20px;
}