@mixin closebtnFn() {
  
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid $gray;
    
    &:after{
        content: "";
        position: absolute;
        top: 3px;
        left:15.5px;
        height: 30px;
        width: 3px;
        background-color: $gray;
        transform: rotate(45deg);
    }
    &::before{
        content: "";
        position: absolute;
        top: 3px;
        left:15.5px;
        height: 30px;
        width: 3px;
        background-color: $gray;
        transform: rotate(-45deg);
    }
    &:hover{
        border: 2px solid $primary;

        &:after{
            content: "";
            position: absolute;
            top: 3px;
            left:15.5px;
            height: 30px;
            width: 3px;
            background-color: $primary;
            transform: rotate(45deg);
        }
        &::before{
            content: "";
            position: absolute;
            top: 3px;
            left:15.5px;
            height: 30px;
            width: 3px;
            background-color: $primary;
            transform: rotate(-45deg);
        }
    }
}