@mixin closebtnFn($xcolors:#333333) {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #dbdbdb;
    cursor: pointer;
    z-index: 156156;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after{
        content: "";
        position: absolute;
        height: 25px;
        width: 1.5px;
        background-color: white;
        transform: rotate(45deg);
    }
    &::before{
        content: "";
        position: absolute;
        height: 25px;
        width: 1.5px;
        background-color: white;
        transform: rotate(-45deg);
    }
    &:hover{
        &:after{
            content: "";
            position: absolute;
            height: 25px;
            width: 2.5px;
            background-color: $primary;
            transform: rotate(45deg);
        }
        &::before{
            content: "";
            position: absolute;
            height: 25px;
            width: 2.5px;
            background-color: $primary;
            transform: rotate(-45deg);
        }
    }
    @media (orientation: portrait) , (max-height: 500px){
            position: absolute;
            top: 10px;
            right: 10px;
            height: 30px !important;
            width: 30px !important;
    
    
            &:after{
                content: "";
                position: absolute;
                height: 20px;
                width: 1.5px;
                background-color: white;
                transform: rotate(45deg);
            }
            &::before{
                content: "";
                position: absolute;
                height: 20px;
                width: 1.5px;
                background-color: white;
                transform: rotate(-45deg);
            }
            &:hover{
                &:after{
                    content: "";
                    position: absolute;
                    height: 20px;
                    width: 2.5px;
                    background-color: $primary;
                    transform: rotate(45deg);
                }
                &::before{
                    content: "";
                    position: absolute;
                    height: 20px;
                    width: 2.5px;
                    background-color: $primary;
                    transform: rotate(-45deg);
                }
            }
        
        }
    }

