
$primary:#1876f3;
$hover:#0095ff;
$secondary:#00D4FF;
$tertiary:#0B0C10;
$gray:#eaeaea;
$gray2:#f6f7f8;
$secondaryGray:#CACACA;
$headerColor:#1c1e21;

//$primary:#FF3367;
//$primary:#09E8CD;
//$primary:#09E8CD;
//09E8CD
//$primary:#1876f3;
//$primary:#05e4ca;
//$primary:#FA0D2D;
//$primary:#FA0D86;
//$primary:#8E0DFA;
//$primary:#00D8F5;