@import './colors';
@mixin inputCss(){
    width: 100%;
    height: 30px;
    padding: 20px;
   // border: 1px solid $secondaryGray;
    border: 1px solid rgba(22,24,35,.12);
    border-radius: 5px;
    outline: none;
}