@import "./colors"; 

.container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-Y: auto;
    overflow-x:hidden;
    z-index: 2;

}
.profile{
    position: relative;
  //  border-top-left-radius:15px ;
  //  border-top-right-radius:15px ;
    width: 100%;
    padding: 25px 28px 0 25px;
    background-color: white;
    margin: 0 auto;
  //  margin-top: 20px; 
}
.userName{
    height: 50px;
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    h2{
        font-size: 2rem;
        color:#1876f3;
    }
}
.ProfileImage{
    position: relative;
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .removeAfter{
        &::after{
            content:none !important;
        }
    }
    .image{
        position: relative;
        cursor: pointer;
        height: 168px;
        width: 168px;
        border-radius: 50%;
        .underimage{
            position: relative;
            height: 168px;
            width: 168px;
            border-radius: 50%;
            overflow:hidden;
            border: 3px solid $primary;

            img{
                position: absolute;
                min-height: 100%;
                max-width: 100%;
    
            }
        }

        &::after{
            content: "";
            position: absolute;
            height: 35px;
            width: 35px;
            background-color: #e4e6eb ;
            bottom: 0px;
            right: 0px;
            z-index: 3;
            border-radius: 50%;
        }
        .camera{
            z-index: 4;
            position: absolute;
            height: 25px;
            width: 25px;
            bottom: 5px;
            right: 5px;
            input[type=file], /* FF, IE7+, chrome (except button) */
            input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
                cursor: pointer; 
                opacity: 0;
    
            }
            cursor: pointer;
            input{
                cursor: pointer;
                opacity: 0;
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                width: 100%;
                opacity: 1;
                img{
                    margin: 0 1.5px;
    
                }
            }

        }
    }

}
.bio{
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        text-align: center;
        width: 80%;
        font-size: clamp(1rem,2vw,2.0rem);
        color: rgb(53, 53, 53);
    }
}
.profileStatus{
    width: 80%;
    position: relative;
    height: 50px;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    .UpdateProfile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        svg{
            margin-left: 20px;
            height: 30px;
            width: 30px;
            cursor: pointer;

        }
    
    }
    &::after{
        content: "";
        background-color: $gray;
        width: 100%;
        position: absolute;
        top: 0;
        height: 1px;
    }

    h3{
        font-size: 1.4rem !important;
        color: #76787b;
        cursor: pointer;

    }
}
.timelineAndparameters{
    height: calc(100% - 380px);
    width: 100%;
    position: relative;
    display: flex;

    .timeLineContainer{
         position: relative;
         width: 100%;
         height: 100%;
         .navbar{
             position: relative;
             height: 40px;
             width: 80%;
             max-width: 1000px;
             margin: 0% auto;
             margin-bottom: 10px;
         }

    }
}
.timeLine{
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    .params{
        position: -webkit-sticky;
        position: relative;
        width: 400px;
        height: auto;
        //height: 600px;
      //  top: 18px !important;
        margin-top: 15px;

    }
    .posts{
        position: relative;
        height: auto;
        width: calc(100% - 400px);
    }
}
.publicationContainer{
    position: relative;
    width: 95%;
    margin: 0 auto;
    height: auto;
}
.navbar{
    width: 80%;
    position: relative;
    height: 50px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;   
    h2{
        font-weight: bold;
        font-size: 1.4rem !important;
        color: black;
        cursor: pointer;
    }
    .Line{
        transition: 0.5s;
        left : 0px;
        position: absolute;
        width: 50%;
        bottom: 0;
        height: 3px;
        background-color: $primary;
    }
}
@media(orientation: portrait), (max-height: 500px) ,(max-width : 1100px)
{
    .posts{
        margin: 0 auto;
        width: 80% !important;
    }
    .params{
        display: none;
    }
}
/********************mobile***********************/
@media (orientation: portrait) , (max-height: 500px){
    .publicationContainer{
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: auto;
    }
    .posts{
        margin: 0 auto;
        width: 100% !important;
    }
    .image{
        height: 110px !important;
        width: 110px !important;
        .underimage{
            height: 110px !important;
            width: 110px !important;
        }
    }
    .profile{
        position: relative;
        margin-top: 0;
        padding: 5px 5px 0 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .bio{
        h2{
            font-size: clamp(1.2rem, 3vw, 2.5rem) !important;

        }
    }
    .profileStatus{
        width: 95%;
        h3{
            font-size: clamp(1.2rem, 3vw, 1.5rem) !important;

        }
    }
}


/*******************************************************/
/*******************************************************/
/****************View **********************/
/*******************************************************/
/*******************************************************/
.followingContainer{
    position: sticky;
    top: 60px;
}
.suggestionContainer{
    position: relative;
}
.timeLineOfOtherUser{
    position: relative;
    width: 100%;
    max-width: 1000px;

    margin: 0 auto;
}