@import './closeBtn';
@import './colors';
@import "./input";
@import "./button";
.container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;


    
}
.settingsContainer{
    position: relative;
    height: 700px;
    width: 90%;
    max-width: 1100px;
    background-color: white;
    top: 45%;
    left:50%;
    border-radius: 5px;
    background-color: white;
    transform: translate(-50%,-50%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;

}
.sideNavBar{
position: relative;
width: 300px;
height: 100%;
margin: 0;
display: inline-block;

}
.profileSettings{
    position: relative;
    width: calc(100% - 300px);
    height: 100%;
    margin: 0;
    display: inline-block;
}
@media  (max-height: 800px){
    .settingsContainer{
        height: calc(100% - 56px) !important;
        width: 100% !important;
        position: absolute;
        margin-top: 56px;

    }

}

@media (orientation: portrait) , (max-height: 500px){
    .container{
        background-color: white;
        }
    .settingsContainer{
        position: relative;
        width: 100%;
        max-width: 1100px;
        background-color: white;
        top: 0%;
        left:0%;
        transform:none;
        height: auto;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
    }
    .profileSettings{
        position: relative;
        margin-top: 10px;
        width: 100%;
        margin-bottom: 10px;
    }
    .sideNavBar{
        position: relative !important;
        height: 400px;
        width: 100%;
        }
}